<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Currency Exchange</title>
</head>

<body>
	<h1>Currency Exchange Convertor</h1>

    <form id="user_form"> 
        Amount: <%- amount %>

        Currency From: <%- from_curr %>

        Currency to: <%- to_curr %>

        1 <%- from_curr %> is <%- to_curr %> <%- exchange_rate %>

        <strong>Convertion: </strong> <%- amount %> <%- from_curr %> = <%- convertion %> <%- to_curr %>


        <!-- <select id="preference">
			<option value="JavaScript">JavaScript</option>
			<option value="Ruby" selected="selected">Ruby</option>
			<option value="Python">Python</option>
		</select> -->
    

    </form>

</body>

</html>
